.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: none;
    overflow-y: auto;

    width: 100%;
    height: 100vh;
}

.modal.is_active {
    display: block;
}

.modal_container {
    position: relative;

    display: flex;
    justify-content: center;
    
    width: 100%;
    min-height: 100%;
}

.modal_background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.modal_box {
    position: relative;
    z-index: 2;
}

.modal_button_close {
    position: absolute;
    top: 0px;
    right: 0px;

    cursor: pointer;
}

.modal_content {
    width: 100%;
}
